<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    </head>
    <body>
                <h1>Hello Home</h1>
                <ul>
                <a href="{{url_for('get_picture_using_name')}}">getpicturebyname</a>    
                </ul>
                <ul>
                    <a href="{{url_for('modify_salary')}}">Modify Salary</a>    
                </ul>
                <ul>
                    <a href="{{url_for('modify_keywords')}}">Modify Keywords</a>    
                </ul>
                <ul>
                    <a href="{{url_for('remove_user')}}">Remove User</a>    
                </ul>
                <ul>
                    <a href="{{url_for('salary_less_pictures')}}">get all images whose salary lessthan</a>    
                </ul>


    </body>
</html>